<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/dashboard/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

</head>
<body>

<section layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product:${products.data}">
            <td th:text="${product.id}">Mark</td>
            <td th:text="${product.name}">Otto</td>
            <td th:text="${product.price}">Otto</td>
            <td>Otto</td>
            <td th:text="${product.category.name}">Otto</td>
            <td>
                <a th:href="@{/admin/product/update/{id} (id=${product.id})}">Update</a>
                <a th:href="@{/admin/product/delete/{id} (id=${product.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</section>
</body>
</html>