<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">
>
<head>

    <title>Detail</title>
</head>
<body>

<section layout:fragment="content">


    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>See more Details</p>
                        <h1>Single Product</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!-- single product -->
    <div class="single-product mt-150 mb-150">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="single-product-img">
                        <img th:src="${product.image}">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="single-product-content">
                        <h3 th:text="${product.name}">Green apples have polyphenols</h3>
                        <p th:text="${product.price+' ₼'}" class="single-product-pricing"><span>Per Kg</span> $50</p>
                        <p th:text="${product.description}">Description</p>
                        <div class="single-product-form">
                            <form action="/basket" method="post">
                                <input name="quantity" type="number" th:value="1" placeholder="0">
                                <input name="productId" type="hidden" th:value="${product.id()}" placeholder="0">
                                <button type="submit" class="cart-btn btn-success"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
                            </form>
                            <p><strong>Categories: </strong><span th:text="${product.categoryDTO().name()}"></span></p>
                        </div>
                        <h4>Share:</h4>
                        <ul class="product-share">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end single product -->

    <!-- more products -->
    <div class="more-products mb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="section-title">
                        <h3><span class="orange-text">Related</span> Products</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet
                            beatae optio.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div th:each="related:${relatedProducts}"class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a th:href="@{/detail/{id} (id=${related.id()})}"><img th:src="${related.image()}"  alt=""></a>
                        </div>
                        <h3 th:text="${related.name()}">Value</h3>
                        <p th:text="${related.price()+' ₼'}" class="product-price"><span>Per Kg</span> </p>
                        <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end more products -->
</section>


</body>
</html>